<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <title>Land Of Battle - Author</title>
</head>
<body style="background-color: #b28f6b">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{'/home'}">LandOfBattle.pl</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/home'}">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/highscores'}">HIGHSCORES</a>
        </li>

        <li class="nav-item" sec:authorize="hasAuthority('ADMIN_PRIVILEGE')">
            <a class="nav-link" th:href="@{'/admin/users'}">USERS</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN_PRIVILEGE')">
            <a class="nav-link" th:href="@{'/admin/roles'}">ROLES</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN_PRIVILEGE')">
            <a class="nav-link" th:href="@{'/admin/words'}">WORDS</a>
        </li>

    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" id="helloUser-nav" sec:authorize="isAuthenticated()">
            <a class="nav-link disabled">
                Hello, <span sec:authentication="name"></span>
            </a>
        </li>
        <li class="nav-item" id="register-nav" sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{'/register'}">SIGN UP</a>
        </li>
        <li class="nav-item" id="login-nav" sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{'/signin'}">SIGN IN</a>
        </li>
        <li class="nav-item" id="logout-nav2" sec:authorize="isAuthenticated()">
            <a class="nav-link" method="post" th:href="@{'/logout'}">
                SIGN OUT
            </a>
        </li>
    </ul>
</nav>
<br>

<div class="container jumbotron">
    <h2><strong>Author</strong></h2>
    <hr>

    <div class="row">
        <div class="col-sm-5" style="font-size : 24px">
            <p>My name is Pawel. I'm a passionate software developer, born in early 90s in Rybnik, PL. Currently reside
                in Wroclaw.</p>
            <p>Married with 2 kids and a cat, living my happy but busy life doing my best to<br><br>
                <code><var>life</var><br> .getActivities()<br> .stream()<br> .forEach(a -> a.improve());</code>
                <br><br>
                As an experienced self-learner with unlimited motivation, despite of having a number of responsibilities
                in my private life,
                I'm putting all my heart in coding and learning new technologies chasing my dream to work on serious
                life-changing projects in the industry.</p>
            <p>My other hobbies are mountain climbing, automotive and learning foreign languages.</p>
        </div>
        <div class="col-sm-7 justify-content-center">
            <h1 class="text-hide"
                style="background-image: url('https://i.ibb.co/9GrvGVP/me2.jpg'); width: 600px; height: 800px;">
                LandOfBattle owner</h1>
        </div>
    </div>

    <hr>

    <div class="alert alert-warning">
        <h4 class="alert-heading">Currently looking for a full-time position as a full-stack or backend developer.</h4>
        <p>Download link for my CV is here: <a download
                                               href="https://drive.google.com/file/d/1QUEbqWgmHlpLTkZb4nbYfzn8SOUH7CfV/view?usp=sharing"
                                               sec:authorize="isAuthenticated()">
            DOWNLOAD
        </a>
            <a method="get" sec:authorize="isAnonymous()" th:href="@{/register}">
                REGISTER (We don't send any newsletter)
            </a>
        </p>
    </div>

    <br><br>
    <h2><strong>About this website</strong></h2>
    <hr>

    <p>This is a fun project made with passion for gaming. How good it is to combine a hobby with education.</p>
    <p>LandOfBattle.pl is a free website with online games. I decided to create it to practise programming and learn
        javascript.
        As I'm getting better I will be posting better and better content. Feel free to contact me if you have any
        suggestions or comments.</p>

    <br><br>
    <h2><strong>Contact</strong></h2>
    <hr>
    <p>admin@landofbattle.pl</p>
</div>

<footer class="navbar fixed-bottom justify-content-center navbar-dark bg-dark">
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: bisque">© 2020 Copyright: <a th:href="@{'/author'}">Paweł
        Szołtysek</a>
        <a style="margin-left : 10px; margin-right: 10px" th:href="@{'/about'}">About this page</a>
        <a th:href="@{'/terms'}">Terms and Policy</a>
        <i class="fab fa-linkedin"></i>
    </div>
    <!-- Copyright -->

</footer>


<!-- Optional JavaScript -->
<script type="text/javascript">

</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>