<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" th:href="@{/css/generalstyle.css}" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <title>Land Of Battle - Author</title>
</head>
<body style="background-color: #b28f6b">
<div th:replace="fragments/navbars :: navbars"></div>
<br>
<div class="container jumbotron" style="margin-top: 60px">
    <h2><strong>Author</strong></h2>
    <hr>

    <div class="row">
        <div class="col-sm-5" style="font-size : 24px">
            <p>My name is Pawel. I'm a passionate software developer, born in early 90s in Rybnik, PL. Currently reside
                in Wroclaw.</p>
            <p>Married with 2 kids and a cat, living my happy but busy life doing my best to<br><br>
                <code><var>life</var><br> .getActivities()<br> .stream()<br> .forEach(a -> a.improve());</code>
                <br><br>
                As an experienced self-learner with unlimited motivation, despite of having a number of responsibilities
                in my private life,
                I'm putting all my heart in coding and learning new technologies chasing my dream to work on serious
                life-changing projects in the industry.</p>
            <p>My other hobbies are mountain climbing, automotive and learning foreign languages.</p>
        </div>
        <div class="col-sm-7 justify-content-center">
            <img class="img-fluid" height="800" src="https://i.ibb.co/9GrvGVP/me2.jpg" width="600"/>
        </div>
    </div>

    <hr>

    <div class="alert alert-warning">
        <h4 class="alert-heading">Currently looking for a full-time position as a full-stack or backend developer.</h4>
        <p>Download link for my CV is here: <a download
                                               href="https://drive.google.com/file/d/1QUEbqWgmHlpLTkZb4nbYfzn8SOUH7CfV/view?usp=sharing"
                                               sec:authorize="isAuthenticated()">
            DOWNLOAD
        </a>
            <a method="get" sec:authorize="isAnonymous()" th:href="@{/register}">
                REGISTER (We don't send any newsletter)
            </a>
        </p>
    </div>

    <br><br>
    <h2><strong>About this website</strong></h2>
    <hr>

    <p>This is a fun project made with passion for gaming. How good it is to combine a hobby with education.</p>
    <p>LandOfBattle.pl is a free website with online games. I decided to create it to practise programming and learn
        javascript.
        As I'm getting better I will be posting better and better content. Feel free to contact me if you have any
        suggestions or comments.</p>

    <br><br>
    <h2><strong>Contact</strong></h2>
    <hr>
    <p>admin@landofbattle.pl</p>
</div>

<!-- Optional JavaScript -->
<script type="text/javascript">

</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $(window).resize(function (e) {
            if ($(window).width() <= 768) {
                $("#wrapper").removeClass("toggled");
            } else {
                $("#wrapper").addClass("toggled");
            }
        });
    });
</script>
</body>
</html>