<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" th:href="@{/css/generalstyle.css}" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <title>Change password</title>

</head>
<body style="background-color: #b28f6b">
<div th:replace="fragments/navbars :: navbars"></div>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="jumbotron justify-content-center" sec:authorize="isAnonymous()"
             style="text-align: center; margin-top: 50px">
            <h1 class="display-4"><strong>CHANGE PASSWORD</strong></h1>
            <br>
            <p class="lead">If the email belongs to an account, the password change link will be sent.</p>
            <p class="lead">Check SPAM folder if you didn't find the email.</p>
            <hr class="my-4">
            <div class="form-group">
                <form method="post" th:action="@{'/changepassword'}" th:object="${passwordLostDTO}">
                    <input class="form-control" id="email" name="email" placeholder="Email assigned to your account"
                           th:field="*{email}"
                           type="email">
                    <br>
                    <input class="btn btn-primary btn-lg btn-block" id="submitButton" onclick="loading()" type="submit"
                           value="Send password change link">
                </form>
            </div>
        </div>

        <div class="jumbotron justify-content-center" sec:authorize="isAuthenticated()" style="text-align: center">
            <h1 class="display-4"><strong>CHANGE PASSWORD</strong></h1>
            <br>
            <p class="lead">Confirmation link will be sent to the following email address.</p>
            <p class="lead">Check SPAM folder if you didn't find the email.</p>
            <hr class="my-4">
            <div class="form-group">
                <form method="post" th:action="@{'/changepassword'}" th:object="${passwordLostDTO}">
                    <input class="form-control" disabled name="email" style="text-align: center" th:field="*{email}"
                           type="email">
                    <br>
                    <input class="btn btn-primary btn-lg btn-block" onclick="loading()" type="submit"
                           value="Send password change link">
                    <div class="spinner-border" id="loading" role="status" style="display: none">
                        <span class="sr-only">Loading...</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Optional JavaScript -->
<script th:inline="javascript">

    /*<![CDATA[*/
    var username = /*[[${username}]]*/ "dummy";

    /*]]>*/

    function loading() {
        document.getElementById("loading").style = "display: inline";
    }

</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript">
    $(function () {
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $(window).resize(function (e) {
            if ($(window).width() <= 768) {
                $("#wrapper").removeClass("toggled");
            } else {
                $("#wrapper").addClass("toggled");
            }
        });
    });
</script>
</body>
</html>