<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

</head>
<body style="background-color: #b28f6b">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{'/home'}">LandOfBattle.pl</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/home'}">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/highscores'}">HIGHSCORES</a>
        </li>

        <li class="nav-item" sec:authorize="hasAuthority('ADMIN_PRIVILEGE')">
            <a class="nav-link" th:href="@{'/admin/users'}">USERS</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN_PRIVILEGE')">
            <a class="nav-link" th:href="@{'/admin/roles'}">ROLES</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN_PRIVILEGE')">
            <a class="nav-link" th:href="@{'/admin/words'}">WORDS</a>
        </li>

    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" id="helloUser-nav" sec:authorize="isAuthenticated()">
            <a class="nav-link disabled">
                Hello, <span sec:authentication="name"></span>
            </a>
        </li>
        <li class="nav-item" id="register-nav" sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{'/register'}">SIGN UP</a>
        </li>
        <li class="nav-item" id="login-nav" sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{'/signin'}">SIGN IN</a>
        </li>
        <li class="nav-item" id="logout-nav2" sec:authorize="isAuthenticated()">
            <a class="nav-link" method="post" th:href="@{'/logout'}">
                SIGN OUT
            </a>
        </li>
    </ul>
</nav>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="jumbotron justify-content-center" sec:authorize="isAnonymous()" style="text-align: center">
            <h1 class="display-4"><strong>CHANGE PASSWORD</strong></h1>
            <br>
            <p class="lead">If the email belongs to an account, the password change link will be sent.</p>
            <p class="lead">Check SPAM folder if you didn't find the email.</p>
            <hr class="my-4">
            <div class="form-group">
                <form method="post" th:action="@{'/changepassword'}" th:object="${passwordLostDTO}">
                    <input class="form-control" id="email" name="email" placeholder="Email assigned to your account"
                           th:field="*{email}"
                           type="email">
                    <br>
                    <input class="btn btn-primary btn-lg btn-block" id="submitButton" onclick="loading()" type="submit"
                           value="Send password change link">
                </form>
            </div>
        </div>

        <div class="jumbotron justify-content-center" sec:authorize="isAuthenticated()" style="text-align: center">
            <h1 class="display-4"><strong>CHANGE PASSWORD</strong></h1>
            <br>
            <p class="lead">Confirmation link will be sent to the following email address.</p>
            <p class="lead">Check SPAM folder if you didn't find the email.</p>
            <hr class="my-4">
            <div class="form-group">
                <form method="post" th:action="@{'/changepassword'}" th:object="${passwordLostDTO}">
                    <input class="form-control" disabled name="email" style="text-align: center" th:field="*{email}"
                           type="email">
                    <br>
                    <input class="btn btn-primary btn-lg btn-block" onclick="loading()" type="submit"
                           value="Send password change link">
                    <div class="spinner-border" id="loading" role="status" style="display: none">
                        <span class="sr-only">Loading...</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="navbar fixed-bottom justify-content-center navbar-dark bg-dark">
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: bisque">© 2020 Copyright: <a th:href="@{'/author'}">Paweł
        Szołtysek</a>
        <a style="margin-left : 10px; margin-right: 10px" th:href="@{'/about'}">About this page</a>
        <a th:href="@{'/terms'}">Terms and Policy</a>
    </div>
    <!-- Copyright -->

</footer>

<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Optional JavaScript -->
<script th:inline="javascript">

    /*<![CDATA[*/
    var username = /*[[${username}]]*/ "dummy";

    /*]]>*/

    function loading() {
        document.getElementById("loading").style = "display: inline";
    }

</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>
</html>