<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" th:href="@{/css/generalstyle.css}" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <title>Sign in to LandOfBattle</title>
</head>
<body style="background-color: #b28f6b">
<div th:replace="fragments/navbars :: navbars"></div>
<br>
<div class="container jumbotron col-sm-4" style="text-align: center; margin-top: 50px">
    <h1><strong>SIGN IN</strong></h1>
    <br>
    <div class="row justify-content-center">
        <form class="container container-block" method="post" th:action="@{/perform_login}" th:object="${userLoginDTO}">
            <div class="alert alert-error" th:if="${error}">
                <div th:value="${error}"></div>
            </div>

            <div class="form-group">
                <input autofocus class="form-control" id="nickname" name="username" placeholder="Your username"
                       th:field="*{username}"
                       type="text">
            </div>
            <div class="form-group">
                <input class="form-control" id="password1" name="password"
                       placeholder="at least 8 characters containing letters and digits" th:field="*{password}"
                       type="password">
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Sign In</button>
            <hr>
            <a class="btn btn-primary btn-lg btn-block" th:href="@{'/changepassword'}">Password Lost?</a>
            <br>
            <p style="font-size: 24px">Don't have an account? <a th:href="@{'/register'}">Create</a></p>
        </form>

    </div>
</div>



<!-- Optional JavaScript -->
<script type="text/javascript">
    var nickPattern = /\w{4,20}$/i;
    var emailPattern = /\w+@\w+\.\w{1,10}/i;


</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $(window).resize(function (e) {
            if ($(window).width() <= 768) {
                $("#wrapper").removeClass("toggled");
            } else {
                $("#wrapper").addClass("toggled");
            }
        });
    });
</script>
</body>
</html>