<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

</head>
<body style="background-color: #b28f6b">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{'/home'}">LandOfBattle.pl</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/home'}">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/highscores'}">HIGHSCORES</a>
        </li>

        <li class="nav-item" sec:authorize="hasAuthority('ADMIN_PRIVILEGE')">
            <a class="nav-link" th:href="@{'/admin/users'}">USERS</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN_PRIVILEGE')">
            <a class="nav-link" th:href="@{'/admin/roles'}">ROLES</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN_PRIVILEGE')">
            <a class="nav-link" th:href="@{'/admin/words'}">WORDS</a>
        </li>

    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" id="helloUser-nav" sec:authorize="isAuthenticated()">
            <a class="nav-link disabled">
                Hello, <span sec:authentication="name"></span>
            </a>
        </li>
        <li class="nav-item" id="register-nav" sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{'/register'}">SIGN UP</a>
        </li>
        <li class="nav-item" id="login-nav" sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{'/signin'}">SIGN IN</a>
        </li>
        <li class="nav-item" id="logout-nav2" sec:authorize="isAuthenticated()">
            <a class="nav-link" method="post" th:href="@{'/logout'}">
                SIGN OUT
            </a>
        </li>
    </ul>
</nav>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="jumbotron">
            <h1 class="display-4">SET NEW PASSWORD</h1>
            <hr class="my-4">
            <div class="form-group">
                <form method="post" th:action="@{'/updatepassword'}" th:object="${user}">
                    <input hidden name="id" th:field="*{id}"/>
                    <input class="form-control" disabled id="nick" name="nick" th:field="*{nickname}" type="text">
                    <br>
                    <input class="form-control" id="password" name="password"
                           placeholder="at least 8 characters containing letters and digits" th:field="*{password}"
                           type="password">
                    <br>
                    <input class="form-control" id="passwordConf" name="passwordConf" placeholder="phrases must match"
                           th:field="*{passwordConfirmation}" type="password">
                    <br>
                    <input class="btn btn-primary btn-lg btn-block" disabled id="submitButton" type="submit"
                           value="Update password">
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="navbar fixed-bottom justify-content-center navbar-dark bg-dark">
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: bisque">© 2020 Copyright: <a th:href="@{'/author'}">Paweł
        Szołtysek</a>
        <a style="margin-left : 10px; margin-right: 10px" th:href="@{'/about'}">About this page</a>
        <a th:href="@{'/terms'}">Terms and Policy</a>
        <i class="fab fa-linkedin"></i>
    </div>
    <!-- Copyright -->

</footer>

<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Optional JavaScript -->
<script th:inline="javascript">

    /*<![CDATA[*/
    var username = /*[[${username}]]*/ "dummy";
    var previousPassword = /*[[${user.previousPassword}]]*/ "dummy";
    var passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;

    /*]]>*/

    function checkPassword() {
        checkPasswordConf();
        let passwordInput = document.getElementById('password').value;
        if (passwordInput === previousPassword) {
            document.getElementById("password").style.backgroundColor = "#FF837D";
            document.getElementById("password").title = "New password must be different than the previous one.";
            return false;
        } else if (passwordPattern.test(passwordInput)) {
            document.getElementById("password").style.backgroundColor = "#94ffbc";
            document.getElementById("password").title = "OK!";
            return true;
        } else {
            document.getElementById("password").style.backgroundColor = "#FF837D";
            document.getElementById("password").title = "Wrong format.";
            return false;

        }
    }

    function checkPasswordConf() {
        let passwordConfInput = document.getElementById('passwordConf').value;
        if (passwordConfInput.length > 1 && passwordConfInput === document.getElementById('password').value) {
            document.getElementById("passwordConf").style.backgroundColor = "#94ffbc";
            document.getElementById("passwordConf").title = "OK!";
            return true;
        } else {
            document.getElementById("passwordConf").style.backgroundColor = "#FF837D";
            document.getElementById("passwordConf").title = "phrases must match";
            return false;
        }
    }

    setInterval(function () {
        let password = document.getElementById('password').value;
        let passwordConf = document.getElementById('passwordConf').value;
        if (("" + password + passwordConf).length > 0) {
            if (checkPassword() && checkPasswordConf()) {
                document.getElementById("submitButton").disabled = false;
            } else {
                document.getElementById("submitButton").disabled = true;
            }
        }
    }, 200);

</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>
</html>