<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" th:href="@{/css/generalstyle.css}" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <title>Register to LandOfBattle</title>

</head>
<body style="background-color: #b28f6b">
<div th:replace="fragments/navbars :: navbars"></div>
<br>
<div class="container jumbotron col-sm-4" style="margin-top: 50px">
    <div th:switch="${error}">
        <div class="alert alert-danger" id="dangerMsg" role="alert" th:case="true" th:text="${errorMsg}"></div>
    </div>
    <h1 style="text-align: center"><strong>REGISTER</strong></h1>
    <div class="row justify-content-center">
        <form method="post" th:action="@{/register}" th:object="${userDTO}">

            <label for="nickInputGroup">Nickname:</label>
            <div class="input-group" id="nickInputGroup">
                <input class="form-control" id="nickname" name="nickname"
                       onautocomplete="checkNick()" placeholder="at least 3 alphanumeric characters"
                       th:field="*{nickname}" type="text">
            </div>

            <div class="form-group">
                <label for="email">Email address:</label>
                <input class="form-control" id="email" name="email" placeholder="eg. user@mail.com" th:field="*{email}"
                       onautocomplete="checkEmail()" type="email">
            </div>
            <div class="form-group">
                <label for="password1">Password:</label>
                <input class="form-control" id="password1" name="password"
                       placeholder="at least 8 characters containing letters and digits" th:field="*{password}"
                       type="password">
            </div>
            <div class="form-group">
                <label for="password2">Confirm password:</label>
                <input class="form-control" id="password2" placeholder="phrases must match"
                       th:field="*{passwordConfirmation}" type="password">
            </div>

            <div class="checkbox">
                <input id="acceptCookies" name="checkbox" type="checkbox" value="check"/> I have read and agree to <a
                    th:href="@{/terms}">the Terms and Conditions and Privacy Policy</a>
            </div>
            <br>
            <button class="btn btn-primary btn-lg btn-block" disabled id="submitButton" type="submit">
                Register
            </button>
            <hr>
            <div style="text-align: center"><a th:href="@{'/login'}">Already registered?</a></div>
        </form>


    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Optional JavaScript -->
<script th:inline="javascript">

    /*<![CDATA[*/
    var hasScore = /*[[${hasScore}]]*/ "test";
    var scoreNick = /*[[${userDTO.nickname}]]*/ "test";
    var isUserDetailUnique = /*[[@{/api/v1/phrase}]]*/ "test";
    var badgeOK = '<div class="badge badge-pill badge-success" style="font-size: 16px;">♫</div>';
    var badgeBAD = '<div class="badge badge-pill badge-danger" style="font-size: 16px;">Input has errors</div>';

    var emailPattern = /\w+@\w+\.\w{1,10}/i;
    var passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;

    /*]]>*/

    function checkFields() {
        return (checkNick() && checkEmail() && checkPassword() && checkPasswordConf());
    }

    async function isUnique(phrase, type) {
        let url = isUserDetailUnique;
        const settings = {
            method: 'POST',
            headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({"phrase": phrase, "type": type})
        };
        let response = await fetch(url, settings);
        let data = response.json();
        return data;
    }

    async function checkNick() {

        let nickfield = document.getElementById("nickname");
        let nick = document.getElementById("nickname").value.toLowerCase();
        if (!/\w{3,20}/i.test(nick) && nick.length <= 20 && nick.length > 0) {
            nickfield.title = "Nickname may consist of 3-20 alphanumeric characters.";
            nickfield.style.backgroundColor = "#FF837D";
            return false;
        } else if (/\W+/i.test(nick)) {
            nickfield.title = "Only alphanumeric characters are allowed!";
            nickfield.style.backgroundColor = "#FF837D";
            return false;
        } else {
            let dbResult = await isUnique(nick, "nick").then(r => {
                return r;
            });
            if (dbResult || (hasScore && nick.toLowerCase() === scoreNick.toLowerCase())) {
                nickfield.title = "OK!";
                nickfield.style.backgroundColor = "#94ffbc";
                return true;
            } else {
                nickfield.title = "Nickname is not unique";
                nickfield.style.backgroundColor = "#FF837D";
                return false;
            }
        }
    }

    async function checkEmail() {
        let emailField = document.getElementById('email');
        if (emailPattern.test(emailField.value.toLowerCase()) && emailField.value.length < 40) {
            let dbResult = await isUnique(emailField.value.toLowerCase(), "email").then(r => {
                return r;
            });
            if (dbResult) {
                emailField.title = "OK!";
                emailField.style.backgroundColor = "#94ffbc";
                return true;
            } else {
                emailField.title = "There is a user with this email already. Use option \"Lost password?\"";
                emailField.style.backgroundColor = "#FF837D";
                return false;
            }
        } else {
            emailField.title = "Wrong format";
            document.getElementById("email").style.backgroundColor = "#FF837D";
            return false;
        }
    }

    function checkPassword() {
        checkPasswordConf();
        let passwordInput = document.getElementById('password1').value;
        if (passwordPattern.test(passwordInput)) {
            document.getElementById("password1").style.backgroundColor = "#94ffbc";
            return true;
        } else {
            document.getElementById("password1").style.backgroundColor = "#FF837D";
            return false;

        }
    }

    function checkPasswordConf() {
        let passwordConfInput = document.getElementById('password2').value;
        if (passwordConfInput.length > 1 && passwordConfInput === document.getElementById('password1').value) {
            document.getElementById("password2").style.backgroundColor = "#94ffbc";
            return true;
        } else {
            document.getElementById("password2").style.backgroundColor = "#FF837D";
            return false;

        }
    }

    setInterval(function () {
        let nick = document.getElementById("nickname").value.toLowerCase();
        let email = document.getElementById('email').value.toLowerCase();
        let password = document.getElementById('password1').value;
        let passwordConf = document.getElementById('password2').value;
        if (("" + nick + email + password + passwordConf).length > 0) {
            if (checkFields() && document.getElementById('acceptCookies').checked) {
                document.getElementById("submitButton").disabled = false;
            } else {
                document.getElementById("submitButton").disabled = true;
            }
        }
    }, 300);
</script>
<script type="text/javascript">
    $(function () {
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $(window).resize(function (e) {
            if ($(window).width() <= 768) {
                $("#wrapper").removeClass("toggled");
            } else {
                $("#wrapper").addClass("toggled");
            }
        });
    });
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>
</html>