<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" th:href="@{/css/generalstyle.css}" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <title>ROLES</title>
</head>
<body style="background-color: #b28f6b">
<div th:replace="fragments/navbars :: navbars"></div>
<br>
<div class="container">
    <div class="row justify-content-center">
        <table class="table table-primary">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Privileges</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="role : ${rolesList}">
                <td th:text="${role.id}">ID</td>
                <td th:text="${role.name}">Title</td>
                <td th:text="${role.privilegesIds}">Privileges</td>
            </tr>
            <!--   <form method="post" th:action="@{/admin/words}" th:object="${wordSetDTO}" class="col-sm-6">
               <tr>
                   <td><button type="submit" class="btn btn-primary btn-lg btn-block">Add Role</button></td>
                   <td><input type="text" class="form-control" id="wordsInput1" th:field="*{words}" name="wordsInput1"></td>
                   <td><input type="number" class="form-control" id="difficultyInput1" th:field="*{difficulty}" name="difficultyInput1"></td>
                   <td><input type="text" class="form-control" id="languageInput1" th:field="*{language}" name="languageInput1"></td>
               </tr>
               </form>
               -->
            </tbody>
        </table>
    </div>
</div>

<!-- Optional JavaScript -->
<script type="text/javascript">

</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $(window).resize(function (e) {
            if ($(window).width() <= 768) {
                $("#wrapper").removeClass("toggled");
            } else {
                $("#wrapper").addClass("toggled");
            }
        });
    });
</script>
</body>
</html>